.header{
    padding: 50px 0px;
}
.medi{
    font-size: 43px;
    line-height: 43px;
    color: var(--primary-color);
}
.care{
   
    font-size: 43px;
    line-height: 43px;
    color: var(--secondary-color);
}
.header_main{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.header_left{
    flex: 1;
   
}

.header_right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.header_menu{
    margin-left: 50px;
    font-size: 20px;
}

.icon-burger {
    display: none;
  
}
.line {
    width: 30px;
    height: 5px;
    background-color:var(--primary-color);
    margin: 5px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.header_container{
 width: 80%;
 margin: 10px auto;
}
@media screen and (max-width: 800px) {
    .icon-burger {
        display: block;
      
    }
    .header_menu{
       display: none;
    }
    .medi{
        font-size: 30px;
       
    }
    .care{
       font-size: 30px;
    }
}